﻿

body,html{
    padding:0px;
	margin:0px;

}
.show-menu-block h1{
	color:#737373;
	text-align:center;
	font-size:8rem;
	
}
#title{
	width:100%;
	height:60%;
	padding:3rem;
	overflow:hidden;
	background-image:url("cover.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	margin:0px auto 0px auto;
	position: relative;
}
#title h1{
	background-color:#737373;
	color:white;
	font-size:7rem;
	position: absolute;
	bottom:2rem;
	left:2rem;
	opacity:0.8;
}
.show-menu-block>h2{
	color:#737373;
	font-size:6rem;
	border-bottom: 0.2rem solid #737373;

}
.show-menu-block p{
	text-align:center;
	word-wrap:break-word;
	text-align:left;
}
.show-menu-block img{
	min-width:20%;
	max-width:60%;
	height:auto;
	margin:0px auto 0px auto;
	display:block;
}
.show-menu-block iframe{
	padding-bottom:1rem;
	padding-top:1rem;
	width:80rem;
	height:45rem;
	margin:0px auto 0px auto;
	display:block;
}
.show-menu-block ul,ol,a,p,h1{
	font-size:3.5rem;
	color:#737373;
}

.show-menu-block{
	position:relative;
	font-size:3.5rem;
	color:#737373;
}
