﻿body,html{
    padding:0px;
	margin:0px;
}
/*menu*/
#menu{
	min-height:7.5vh;
	max-height:9vh;
	width:100%;
	border-bottom: 0.1rem solid black;
	padding:1rem;
}
#menu>div{
	display:inline;
	margin-right:8rem;
	font-size:3rem;
}
.glyphicon{
	color:black;
	font-size: 4rem;
	margin:auto 1rem auto 1rem;
}
#cover,.glyphicon:hover{
	text-decoration: none;
}
/*work surface*/
#work-surface{
	height:90vh;
	width:100%;
	overflow:scroll;
}
input[type=file] {
    display: none;
}
.show-menu-menu{
	font-size:3rem;
	position:absolute;
	right:1rem;
	top:0;
	letter-spacing:-1rem;
	border: 0.2rem solid red;
}
.show-menu-menu .glyphicon{
	font-size:3rem;
	color:red;
}
.show-menu-selectmode:hover{
	border: 0.2rem solid red;
}
#quest{
	display:none;
	position:absolute;
	top:50%;
	right:40vw;
	z-index:999;
	width:35rem;
	height:10rem;
	background-color:white;
	text-align:center;
	border: 0.2rem solid red;
}
#quest input{
	margin:1rem;
}

#coverContainer{
	display:none;
}
.mini-text{
	font-size:1.5rem;
}