﻿

body,html{
    padding:0px;
	margin:0px;

}
#cont{
	float:right;
	height:100vh;
	width:88%;
}
#cont h1{
	color:#737373;
	text-align:center;
	font-size:8rem;
}
.block div{
	color:white;
	font-size:3rem;
	text-align:center;
}
.category{
	width:45%;
	height:60%;
	color:#737373;
	font-size:2rem;
	display:inline;

	
}
.mainblock{
	width:45%;
	height:50%;
	color:white;
	padding:1rem;
	font-size:3rem;
	display:inline;
}
.block{

	margin:0 1rem;
	float:left;
	word-wrap:break-word;
}
form{
	text-align:center;
}
#mihezertesz>input{
	color:#737373;
}
#hianyol>input{
	color:#737373;
}
#cont p{
	font-size:3.5rem;
	color:#737373;
	padding:2rem 4rem;
}
#menu{
	float:left;
	height:100vh;
	width:12%;
	position:fixed;
}
#menu>img{
	width:100%;
	height:auto;
	margin-bottom:1rem;
}
#menu ul{
	list-style-type: none;
    margin: 0;
    padding: 0;
}
#menu a{
	display:block;
	color:white;
	font-size:2.5rem;
	font-weight: 700;
	text-decoration:none;
	padding: 4rem 1rem;
	border-bottom:0.1rem solid white;
}
.actual{
	border-right:1rem solid white;
}
#menu a:hover{
	font-weight: 900;
	border-bottom:0.2rem solid white;
}
@media only screen and (min-device-width : 180px) and (max-device-width : 480px) {
	#menu ul li{
		float:left;
	}
	#menu ul li a{
		text-align:center;
		padding: 1rem 1rem;
		border:0;
		font-size:5rem;
	}
	#menu ul{
		overflow: hidden;
		display:inline-table;
		position:absolute;
		bottom:0;
	}
	#menu{
		width:100%;
		height:10%;
		position: relative;
	}
	#cont{
		height:90%;
		width:100%;
	}
	#cont p{
		font-size: 4rem;
	}
	#menu>img{
	width:15%;
	height:auto;
	margin: 0;
	display:inline-table;
	}
	#menu a:hover{
		font-weight: 900;
		border-bottom:0.5rem solid white;
	}
	.mainblock{
	width:100%;
	height:150%;
	color:white;
	padding:1rem;
	font-size:6rem;
	display:block;
	margin-bottom:1rem;
	}
	.category{
	width:100%;
	color:#737373;
	font-size:6rem;
	display:block;
	}
	.category>div{
		font-size:8rem;
	}
	.category>ul{
		margin-left:5rem;
	}
	#cont p{
		font-size:4.5rem;
	}
}
