﻿

body,html{
    padding:0px;
	margin:0px;

}
#cont{
	float:right;
	height:100vh;
	width:88%;
	padding-left:12rem;
	padding-right:12rem;
}

#menu{
	float:left;
	height:100vh;
	width:12%;
	position:fixed;
}
#menu>img{
	width:100%;
	height:auto;
	margin-bottom:1rem;
}
#menu ul{
	list-style-type: none;
    margin: 0;
    padding: 0;
}
#menu a{
	display:block;
	color:white;
	font-size:1.9rem;
	font-weight: 700;
	text-decoration:none;
	padding: 4rem 1rem;
	border-bottom:0.1rem solid white;
}
#menu a:hover{
	font-weight: 900;
	border-bottom:0.2rem solid white;
}
#cont h1{
	color:#737373;
	text-align:center;
	font-size:8rem;
	
}
#title{
	width:100%;
	height:60%;
	padding:3rem;
	overflow:hidden;
	background-image:url("cover.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	margin:0px auto 0px auto;
	position: relative;
}
#title h1{
	background-color:#737373;
	color:white;
	font-size:7rem;
	position: absolute;
	bottom:2rem;
	left:2rem;
	opacity:0.8;
}
#cont h2{
	color:#737373;
	font-size:6rem;
	border-bottom: 0.2rem solid #737373;

}
#cont p{
	text-align:center;
	word-wrap:break-word;
	text-align:left;
}
#cont img{
	min-width:20%;
	max-width:60%;
	height:auto;
	margin:1rem auto 1rem auto;
	display:block;
}
#cont iframe{
	padding-bottom:1rem;
	padding-top:1rem;
	width:80rem;
	height:45rem;
	margin:0px auto 0px auto;
	display:block;
}
#cont ul,ol,a,p,h1{
	font-size:3.5rem;
	color:#737373;
}
#cont ul,ol{
	margin-left:6rem;
}
#cont{
	position:relative;
	font-size:3.5rem;
	color:#737373;
}

@media only screen and (min-device-width : 180px) and (max-device-width : 480px) {
	#menu ul li{
		float:left;
	}
	#menu ul li a{
		text-align:center;
		padding: 1rem 1rem;
		border:0;
		font-size:5rem;
	}
	#menu ul{
		overflow: hidden;
		display:inline-table;
		position:absolute;
		bottom:0;
	}
	#menu{
		width:100%;
		height:10%;
		position: relative;
	}
	#cont{
		height:90%;
		width:100%;
	}
	#menu>img{
	width:15%;
	height:auto;
	margin: 0;
	display:inline-table;
	}
	#menu a:hover{
		font-weight: 900;
		border-bottom:0.5rem solid white;
	}
}
